{{#> LayoutAuth title=text }}
  <div class="c-page c-page-login">
    <form id="formLogin" class="c-page-login__form c-form-auth">
      <div class="c-form-auth__fields">
        {{{ InputLogin }}}
        {{{ InputPassword }}}
      </div>
      {{{ Button }}}
    </form>
    <div class="c-page-login__link">
      {{{ Link }}}
    </div>
  </div>
{{/ LayoutAuth }}
