<div class="c-input-password{{#if className}} {{ className }}{{/if}}">
  {{> Input type="password" className="c-input_password" label=label id=id name=name value=value required=required }}
  {{#if isValidation}} 
  <div class="c-input-password__validation">
    {{ textValidation }}
  </div>
  {{/if}}
</div>
