<section class="c-error">
  <h1 class="c-error__title">
    {{ error }}
  </h1>
  <p class="c-error__text">
    {{ text }}
  </p>
  <div class="c-error__link">
    <a href="/" class="c-link">Назад к чатам</a>
  </div>
</section>
