.c-error {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    color: var(--colors-page-color);
  }
  &__text {
    margin-bottom: 69px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--colors-page-color);
  }
  &__link {
    text-align: center;
  }
}
