<div class="c-input-email{{#if className}} {{ className }}{{/if}}">
  {{> Input type="email" className="c-input_email" label=label id=id name=name value=value required=required }}
  <div class="c-input-email__validation c-input-validation">
    {{ textValid }}
  </div>
</div>
