.c-button {
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colors-button-color);
  background: var(--colors-button-background);
  transition: var(--transition-03);
  cursor: pointer;

  span {
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0;
  }

  &:hover {
    background: var(--colors-button-background-hover);
  }

  &:active {
    background: var(--colors-button-background-active);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &_arrow {
    width: 28px;
    height: 28px;
    border-radius: 50%;
   
    &::after {
      content: '';
      width: 11px;
      min-width: 11px;
      height: 10px;
      background: url('/icons/arrow-right-white.svg') center / cover;
    }
  }
}
