.c-button {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  color: rgba(255, 255, 255, 1);
  background: rgba(51, 105, 243, 1);
}