@import './../../assets/mixins';

.c-page-profile {
  @include full-size;

  &__fields {
    width: 100%;
    margin-bottom: 50px;
  }

  &__navigations {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    ul {
      width: 100%;
    }

    li {
      padding-bottom: 10px;
      border-bottom: 1px solid var(--colors-chat-sidebar-border);

      .c-link {
        font-size: 13px;
        line-height: 13px;
      }

      &:last-child  {
        border-bottom: none;
      }
    }
  }
}
