{{#> LayoutProfile title=title urlBack="/messenger" }}
  <div class="c-page c-page-profile">
    <div class="c-page-profile__fields">
      {{{ Profile }}}
    </div>
    <nav class="c-page-profile__navigations">
      <ul>
        <li>
          {{{ LinkEdit }}}
        </li>
        <li>
          {{{ LinkPassword }}}
        </li>
        <li>
          {{{ LinkExit }}}
        </li>
      </ul>
    </nav>
  </div>
{{/ LayoutProfile }}
