{{#> LayoutProfile title="Иван" urlBack="/?page=main" }}
  <div class="c-page c-page-profile">
    <div class="c-page-profile__fields">
      {{> Profile }}
    </div>
    <ul class="c-page-profile__actions">
      <li>
        <a class="c-link" href="/?page=profile-edit">Изменить данные</a>
      </li>
      <li>
        <a class="c-link" href="#">Изменить пароль</a>
      </li>
      <li>
        <a class="c-link c-link_red" href="#">Выйти</a>
      </li>
    </ul>
  </div>
{{/ LayoutProfile }}