{{#> LayoutProfile title=title urlBack=urlBack }}
  <div class="c-page c-page-profile c-page-profile_edit">
    <form id="formProfileEdit">
      <div class="c-page-profile__fields">
        {{{ Profile }}}
      </div>
      <div class="c-page-profile__action">
        {{{ Button }}}
      </div>
    </form>
  </div>
{{/ LayoutProfile }}
