@import './../../assets/mixins.scss';

.c-page-profile {
  @include fullSize;

  &__fields {
    width: 100%;
    margin-bottom: 50px;
  }
  &__action {
    width: 100%;
    display: flex;
    justify-content: center;

    .c-button {
      max-width: 280px;
    }
  }
}