{{#> LayoutProfile title=title urlBack="/?page=profile" }}
  <div class="c-page c-page-profile c-page-profile_edit">
    <form id="formProfileEdit">
      <div class="c-page-profile__fields">
        {{{ Profile }}}
        {{!-- {{> Profile isEdit="true" }} --}}
      </div>
      <div class="c-page-profile__action">
        {{{ Button }}}
        {{!-- {{> Button text="Сохранить" className="c-page-profile__save" }} --}}
      </div>
    </form>
  </div>
{{/ LayoutProfile }}
