@import './../../assets/mixins';

.c-page-profile {
  @include full-size;

  &__fields {
    width: 100%;
    margin-bottom: 50px;
  }

  &__action {
    width: 100%;
    display: flex;
    justify-content: center;

    .c-button {
      max-width: 280px;
    }
  }
}
