{{#> LayoutProfile title="Изменить данные" urlBack="/?page=profile" }}
  <div class="c-page c-page-profile c-page-profile_edit">
    <div class="c-page-profile__fields">
      {{> Profile isEdit="true" }}
    </div>
    <div class="c-page-profile__action">
      {{> Button text="Сохранить" className="c-page-profile__save" }}
    </div>
  </div>
{{/ LayoutProfile }}
