<section class="c-chat-box">
  <div class="c-chat-box__header">
    <div class="c-chat-box__user c-chat-box-user">
      <div class="c-chat-box-user__avatar"></div>
      <div class="c-chat-box-user__name">
        {{ userName }}
      </div>
      <div class="c-chat-box-user__kebab" onclick="console.log('kebab menu')"></div>
    </div>
  </div>
  <div class="c-chat-box__messages">
    <div class="c-chat-box-messages">
      {{#each (chat-messages)}}
        {{> ChatMessage }}
      {{/each}}
    </div>
  </div>
  <div class="c-chat-box__action">
    <form id="formMessage" class="c-chat-box-action">
      <div class="c-chat-box-action__attach" onclick="console.log('attach menu')"></div>
      <div class="c-chat-box-action__text">
        {{!-- {{> Textarea id="message" name="message" placeholder="Сообщение" }} --}}
        {{{ Textarea }}}
      </div>
      <div class="c-chat-box-action__send">
        {{!-- <button class="c-button-arrow" onclick="console.log('send')"></button> --}}
        {{{ Button }}}
      </div>
    </form>
  </div>
</section>
