{{#> LayoutProfile title=title urlBack="/?page=profile" }}
  <div class="c-page c-page-profile c-page-profile_password">
    <form id="formProfilePassword">
      <div class="c-page-profile__fields">
        {{{ InputList }}}
        {{!-- {{> InputPassword label="Старый пароль" id="oldPassword" name="oldPassword" }}
        {{> InputPassword label="Новый пароль" id="newPassword" name="newPassword" }}
        {{> InputPassword label="Повторите новый пароль" id="repeatPassword" name="repeatPassword" }} --}}
      </div>
      <div class="c-page-profile__action">
        {{{ Button }}}
        {{!-- {{> Button text="Сохранить" className="c-page-profile__save" }} --}}
      </div>
    </form>
  </div>
{{/ LayoutProfile }}
