{{#> LayoutProfile title="Изменить пароль" urlBack="/?page=profile" }}
  <div class="c-page c-page-profile c-page-profile_password">
    <div class="c-page-profile__fields">
      {{> InputPassword label="Старый пароль" id="oldPassword" name="oldPassword" }}
      {{> InputPassword label="Новый пароль" id="newPassword" name="newPassword" }}
      {{> InputPassword label="Повторите новый пароль" id="pereatPassword" name="pereatPassword" }}
    </div>
    <div class="c-page-profile__action">
      {{> Button text="Сохранить" className="c-page-profile__save" }}
    </div>
  </div>
{{/ LayoutProfile }}
