{{#> LayoutProfile title=title urlBack="/?page=profile" }}
  <div class="c-page c-page-profile c-page-profile_password">
    <form id="formProfilePassword">
      <div class="c-page-profile__fields">
        {{{ InputList }}}
      </div>
      <div class="c-page-profile__action">
        {{{ Button }}}
      </div>
    </form>
  </div>
{{/ LayoutProfile }}
