@import './../../assets/mixins';

.c-layout-profile {
  @include full-size;

  display: flex;

  &__back {
    @include full-size;

    max-width: 64px;
    border-right: 1px solid var(--colors-chat-sidebar-border);
    background: var(--colors-chat-sidebar-background);
    display: flex;
    align-items: center;
    justify-content: center;

    .c-router-arrow {
      transform: scale(-1, 1);
    }
  }

  &__wrap {
    @include full-size;

    max-width: calc(100% - 64px);
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 97px;
  }

  &__title {
    margin-top: 21px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: center;
  }

  &__body {
    width: 100%;
    max-width: 510px;
  }
}

.c-profile-avatar {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;

  &__upload {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
    background: var(--color-black-alfa-50);
    color: var(--color-white-100);
    transition: var(--transition-03);
    cursor: pointer;
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &:hover {
    .c-profile-avatar {
      &__upload {
        opacity: 1;
      }
    }
  }
}
