<main class="c-layout c-layout-profile">
  <div class="c-layout-profile__back">
    {{> Link to=urlBack className="c-router-arrow" }}
  </div>
  <div class="c-layout-profile__wrap">
    <div class="c-layout-profile__avatar">
      <div class="c-profile-avatar">
        <span class="c-profile-avatar__upload" onclick="window.showPopup()">
          Поменять аватар
        </span>
        <img class="c-profile-avatar__img" src="https://ya-praktikum.tech/api/v2/resources{{ srcAvatar }}" alt="Avatar">
      </div>
      {{> Title text=title className="c-layout-profile__title" }}
    </div>
    <div class="c-layout-profile__body">
      {{> @partial-block }}
    </div>
  </div>

  {{#> Popup popupTitle=popupTitle className=className }}
    <form id="avatarForm">
      <label for="avatar" id="avatarFileName">
        Выбрать файл на компьютере
      </label>
      <input id="avatar" type="file" name="avatar" accept="image/*">
      {{> Button text="Поменять" }}
    </form>
  {{/ Popup }}
</main>
