<div 
  class="c-chat-message{{#if className}} {{ className }}{{/if}}{{#if isMy}} c-chat-message_my{{/if}}"
>
  <p class="c-chat-message__text">
    {{ message }}
  </p>
  <small class="c-chat-message__date">
    {{ date }}
  </small>
</div>
