.c-profile-item {
  width: 100%;
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--colors-chat-sidebar-border);
  display: flex;
  justify-content: space-between;

  b {
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    color: var(--colors-page-color);
  }
  span {
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    color: var(--colors-input-label-color)
  }
}