<main class="c-layout c-layout-auth">
  <div class="c-layout-auth__wrap">
    <div class="c-layout-auth__title">
      <img src="/vite.svg" class="logo" alt="Vite logo" />
      <h1>{{ title }}</h1>
    </div>
    <div class="c-layout-auth__body">
      {{> @partial-block }}
    </div>
  </div>
</main>