<main class="c-layout c-layout-auth">
  <div class="c-layout-auth__wrap">
    {{> Title text=title className="c-layout-auth__title" isLogo="true" }}
    <div class="c-layout-auth__body">
      {{> @partial-block }}
    </div>
  </div>
</main>