@import './../../assets/mixins';

.c-layout-auth {
  @include full-size;

  display: flex;
  align-items: center;
  justify-content: center;
  
  &__wrap {
    width: 100%;
    max-width: 340px;
    padding: 50px 30px 30px;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
  }

  &__title {
    width: 100%;
    margin-bottom: 40px;
  }
}

.c-form-auth {
  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
