<div class="c-input-text{{#if className}} {{ className }}{{/if}}">
  {{> Input type="text" className="c-input_text" label=label id=id name=name value=value required=required }}
  <div class="c-input-text__validation c-input-validation">
    {{ textValid }}
  </div>
</div>
