:root {
  --color-blue-100: rgb(3 55 187);
  --color-blue-90: rgb(51 105 243 / 100%);
  --color-blue-70: rgb(79 124 239);
  --color-blue-50: rgb(228 237 253 / 100%);
  --color-black-100: rgb(30 30 30 / 100%);
  --color-black-50: rgb(153 153 153 / 100%);
  --color-black-35: rgb(234 234 234 / 100%);
  --color-black-30: rgb(239 239 239 / 100%);
  --color-black-25: rgb(245 245 245 / 100%);
  --color-black-20: rgb(248 248 248 / 100%);
  --color-black-10: rgb(251 251 251 / 100%);
  --color-black-alfa-50: rgb(30 30 30 / 50%);
  --color-black-alfa-40: rgb(30 30 30 / 40%);
  --color-white-100: rgb(255 255 255 / 100%);
  --color-red-100: rgb(255 47 47 / 100%);
  --transition-03: 0.3s;
  --colors-page-background: var(--color-white-100);
  --colors-page-color: var(--color-black-100);
  --colors-button-background: var(--color-blue-90);
  --colors-button-background-hover: var(--color-blue-70);
  --colors-button-background-active: var(--color-blue-100);
  --colors-button-color: var(--color-white-100);
  --colors-input-background: var(--color-white-100);
  --colors-input-border: var(--color-blue-90);
  --colors-input-border-focus: var(--color-blue-100);
  --colors-input-color: var(--color-black-100);
  --colors-input-label-color: var(--color-black-50);
  --colors-input-error-color: var(--color-red-100);
  --colors-link-color: var(--color-blue-90);
  --colors-link-color-grey: var(--color-black-50);
  --colors-link-color-red: var(--color-red-100);
  --colors-chat-sidebar-background: var(--color-black-10);
  --colors-chat-sidebar-border: var(--color-black-35);
  --colors-chat-sidebar-color: var(--color-black-50);
  --colors-chat-search-background: var(--color-black-30);
  --colors-chat-item-background: var(--color-black-30);
  --colors-chat-item-master: var(--color-black-100);
  --colors-chat-item-slave: var(--color-black-50);
  --colors-chat-item-action: var(--color-blue-90);
  --colors-chat-message: var(--color-black-20);
  --colors-chat-message-my: var(--color-blue-50);
}
