@import './assets/variable.scss';
@import './assets/fonts.scss';
@import './assets/mixins.scss';

:root {
  font-family: Inter, sans-serif;
  color-scheme: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main,
#app {
  @include fullSize;
}

body {
  background: rgba(255, 255, 255, 1);
}

/* Общие стили*/
.c-link {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0em;
  color: var(--colors-link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}